/*
Hörtz, Kluth, Lopez
Multimedia Engineering 2 - Übung 1
*/

* {
    /*Werte von 'padding' und 'border' werden nicht mehr der Breite hinzugerechnet*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    border-radius: 8px;
    border: 1px solid #000;
}

#content {
    background-color: #000;
}

#main {
    width: 78.2%;
    padding: 10px;
    float: left;
    border: 1px solid #777;
}

#main a:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#aside {
    width: 208px;
    float: right;
    line-height: 30px;
    padding: 15px 15px 15px 15px;
    border: 1px solid #777;
    background-color: #999;
    overflow: hidden;
}

#header, #footer {
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #777;
    background-color: #8AD9FF;
    width: 958px;
    border: 1px solid #888;
    overflow: hidden;
}
#header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#header li, #footer li {
    display: inline;
    padding: 20px 20px 20px 20px;
    height: auto;
}
#header a, #footer a, #aside a{
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}
#header a:hover, #footer a:hover, #aside a:hover{
    color: #F90;
}
#logo {
    display: inline;
}
#main_menu {
    display: inline;
}
#main_menu ul{
    display: inline;
    position: relative;
    top: -25px;
}

.timeCounter {
    font-size: 25px;
    float: right;
    margin-right: 180px;
    vertical-align: middle;
}

.timebar {
    width: 562px;
    height: 10px;
    background-color: #8AD9FF;
    border: 1px solid #000;
}

.video {
    border: 1px solid #000;
}